@import "../../styles/parshals.scss";

.swiper-container {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: $main-element-color !important;
}
.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next {
  right: 20px !important;
}

.Swipper__img {
  border-radius: 3px;
}

.Swipper__flip-card-inner {
  @include for-size(tablet) {
    width: 200px;
    height: 300px;
  }
}
.Swipper__flip-card-front {
}

.Swipper__flip-card-back {
  display: none;
}

/* .Swipper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -5px;

  @include for-size(desktop) {
    margin: -10px;
  }
}



.Swipper__title {
  @extend %movie-card-title;
}

.Swipper__in-list--added {
  color: $main-element-color;
}

.Swipper__lists {
  @extend %movie-card-list-icons;
}

.Swipper__lists .Swipper__in-list {
  font-size: 20px;
  @include for-size(tablet) {
    font-size: 30px;
  }
  @include for-size(desktop) {
    font-size: 40px;
  }
}

.Swipper__descr {
  @extend %movie-card-element;
}
.Swipper__descr span {
  @extend %movie-card-span;
}

.Swipper__genre {
  @extend %movie-card-span;
  @include for-size(tablet) {
    margin-bottom: 2px;
  }
  @include for-size(desktop) {
    margin-bottom: 5px;
  }
}

.Swipper__genres-list {
  @extend %movie-card-genre-list;
  @include for-size(tablet) {
    margin-bottom: 3px;
  }
  @include for-size(desktop) {
    margin-bottom: 10px;
  }
}

.Swipper__release {
  @extend %movie-card-element;
}

.Swipper__release span {
  @extend %movie-card-span;
}


.Swipper__flip-card {
  background-color: transparent;
  width: 145px;
  height: 217.5px;
  margin: 5px;

  perspective: 1000px;

  @include for-size(tablet) {
    width: 165px;
    height: 247.5px;
  }

  @include for-size(desktop) {
    width: 240px;
    height: 360px;
    margin: 10px;
  }
}


.Swipper__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 0.5s;
  transform-style: preserve-3d;
}


.Swipper__flip-card:hover .Swipper__flip-card-inner {
  transform: rotateY(180deg);
}

.Swipper__flip-card-front,
.Swipper__flip-card-back {
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.Swipper__flip-card-front {
  background-color: $main-bgc-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Swipper__flip-card-back {
  padding: 5px;
  background-color: $light-bgc-color;
  color: $third-bgc-color;
  transform: rotateY(180deg);

  @include for-size(tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include for-size(desktop) {
    padding: 20px;
  }
}
 */
