$main-bgc-color: #081f33;
$second-bgc-color: #08293d;
$third-bgc-color: #001a24;
$fourth-bgc-color: #3879ab;
$light-bgc-color: #60a6bf;
$main-text-color: #e4e4e4;
$main-element-color: #bd0042;
$secondary-element-color: #cd204e;
$third-element-color: #9d3551;
$light-element-color: #e89aaf;

/* $main-bgc-color: #0d5146;
$second-bgc-color: rgb(5, 117, 94);
$third-bgc-color: #00362d;
$fourth-bgc-color: #38ab97;
$light-bgc-color: #6ca299;
$main-text-color: #e4e4e4;
$main-element-color: #87001b;
$secondary-element-color: #c72852;
$third-element-color: #9d3551;
$light-element-color: #e89aaf; */

/* $main-bgc-color: #0d3151;
$second-bgc-color: rgb(5, 74, 117);
$third-bgc-color: #002836;
$fourth-bgc-color: #3879ab;
$light-bgc-color: #60a6bf;
$main-text-color: #d5d5d5;
$main-element-color: #b00023;
$secondary-element-color: #cd204e;
$third-element-color: #9d3551;
$light-element-color: #e89aaf; */
