@import "../../styles/parshals.scss";
.Header {
  width: 100%;
  position: fixed;

  z-index: 1;
  background-color: $main-bgc-color;
  border-bottom: 1px solid $third-bgc-color;
}

.Header__container {
  position: relative;
}
